Repository vecnathewhisperd0/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

ci: fix pylint doesn't run in MR pipelines
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: remove code_quality_html
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Replace pydocstyle with ruff
  .gitlab-ci.yml
  hooks/pre-commit
  pyproject.toml
  setup.cfg
  setup.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Add generated docs to .gitignore
  .gitignore
Due: none

fetch_metadata
  fdroidserver/__main__.py
  fdroidserver/common.py
  fdroidserver/fetch_metadata.py
  fdroidserver/update.py
  tests/main.TestCase
  tests/update.TestCase
Due: fdroid build, plugin_fetchsrclibs

fix gradle output path
  fdroidserver/build.py
Due: fdroid build

Don't check VCS for completed builds
  fdroidserver/build.py
  fdroidserver/common.py
  tests/build.TestCase
  tests/scanner.TestCase
Due: fdroid build

🧭 stated splitting out build_local from build.py
  fdroidserver/__main__.py
  fdroidserver/build_local_prepare.py
  fdroidserver/build_local_run.py
  fdroidserver/common.py
  fdroidserver/metadata.py
Due: fdroid build, plugin_fetchsrclibs

🦹 add build_local_sudo subcommand
  fdroidserver/__main__.py
  fdroidserver/build_local_sudo.py
Due: plugin_fetchsrclibs

🧹 remove sudo code from build_local_prepare
  fdroidserver/build_local_prepare.py
Due: none

🖋️ reduce coupling + more docs or build_local_run
  fdroidserver/build_local_run.py
  fdroidserver/build_local_sudo.py
  fdroidserver/common.py
  fdroidserver/metadata.py
Due: fdroid build

⏱️ add schedule_build subcommand
  fdroidserver/__main__.py
  fdroidserver/schedule_build.py
  tests/schedule_build.TestCase
Due: plugin_fetchsrclibs

build: replace unused --reset-server with --debug
  completion/bash-completion
  fdroidserver/build.py
  tests/build.TestCase
Due: fdroid build

checkupdates: Drop AUM: Static
  fdroidserver/checkupdates.py
Due: none

checkupdates: Support AUM: BuildOnly
  fdroidserver/checkupdates.py
  fdroidserver/metadata.py
  tests/checkupdates.TestCase
Due: fdroid build

gradlew-fdroid: use transparence log and rewrite in python
  .gitlab-ci.yml
  gradlew-fdroid
  hooks/pre-commit
  tests/test-gradlew-fdroid
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

__main__.py: fix lint
  fdroidserver/__main__.py
Due: plugin_fetchsrclibs

Remove usage of deprecated unittest.makeSuite function
  tests/api.TestCase
  tests/build.TestCase
  tests/checkupdates.TestCase
  tests/common.TestCase
  tests/deploy.TestCase
  tests/exception.TestCase
  tests/github.TestCase
  tests/gpgsign.TestCase
  tests/import_subcommand.TestCase
  tests/index.TestCase
  tests/init.TestCase
  tests/install.TestCase
  tests/lint.TestCase
  tests/main.TestCase
  tests/metadata.TestCase
  tests/net.TestCase
  tests/nightly.TestCase
  tests/publish.TestCase
  tests/rewritemeta.TestCase
  tests/scanner.TestCase
  tests/signatures.TestCase
  tests/signindex.TestCase
  tests/update.TestCase
  tests/vcs.TestCase
  tests/verify.TestCase
Due: none

example config: Consistent with spacing
  examples/config.yml
Due: none

Build - Be more verbose
  fdroidserver/build.py
  fdroidserver/vmtools.py
Due: fdroid build

Build - remove duplicate output (if using server)
  fdroidserver/build.py
Due: fdroid build

Build - Show OS/env information
  fdroidserver/build.py
Due: fdroid build

Build - consistency with dots
  fdroidserver/build.py
Due: fdroid build

Build - Rework send_dir
  fdroidserver/build.py
Due: fdroid build

Vagrant: Misc comments
  buildserver/Vagrantfile
Due: docker

vmtools: Be more verbose
  fdroidserver/vmtools.py
Due: fdroid build

vmtools: Always generated Vagrantfile using *.yaml
  fdroidserver/vmtools.py
Due: fdroid build

Vagrant: Be a little more verbose
  buildserver/Vagrantfile
Due: docker

Add --keep-server
  completion/bash-completion
  fdroidserver/build.py
Due: fdroid build
