Repository vecnathewhisperd0/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/ci-images-client
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - bash buildserver/provision-apt-get-install http://deb.debian.org/debian
  - apt-get dist-upgrade
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

Adjust gitlab-url.
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Use apksigner in verify_apk_signature
  fdroidserver/common.py
Due: fdroid build

Install apksigner for bionic test
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

add venv to .gitignore
  .gitignore
Due: none

2021-04-16
  examples/fdroid_export_keystore_to_nitrokey.py
  examples/fdroid_exportkeystore.py
  examples/fdroid_nitrokeyimport.py
  fdroidserver/__init__.py
  fdroidserver/__main__.py
  fdroidserver/btlog.py
  fdroidserver/build.py
  fdroidserver/gpgsign.py
  fdroidserver/index.py
  fdroidserver/install.py
  fdroidserver/metadata.py
  fdroidserver/publish.py
  fdroidserver/scanner.py
  fdroidserver/signindex.py
  tests/build.TestCase
  tests/main.TestCase
  tests/scanner.TestCase
  tests/update.TestCase
Due: fdroid build, plugin_fetchsrclibs

checkupdates.py
  fdroidserver/checkupdates.py
Due: none

try to fix failed pipeline 287628834
  examples/fdroid_export_keystore_to_nitrokey.py
  examples/fdroid_exportkeystore.py
  examples/fdroid_nitrokeyimport.py
  fdroidserver/build.py
  fdroidserver/gpgsign.py
  fdroidserver/index.py
  fdroidserver/install.py
  fdroidserver/publish.py
  fdroidserver/scanner.py
  fdroidserver/signindex.py
  tests/update.TestCase
Due: fdroid build

try to fix failed pipeline 287652991
  fdroidserver/checkupdates.py
Due: none

try to fix failed job #1186765383
  fdroidserver/build.py
Due: fdroid build

common.py
  examples/fdroid_export_keystore_to_nitrokey.py
  examples/fdroid_exportkeystore.py
  examples/fdroid_fetchsrclibs.py
  examples/fdroid_nitrokeyimport.py
  fdroidserver/__init__.py
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/gpgsign.py
  fdroidserver/import.py
  fdroidserver/index.py
  fdroidserver/init.py
  fdroidserver/install.py
  fdroidserver/metadata.py
  fdroidserver/publish.py
  fdroidserver/scanner.py
  fdroidserver/signatures.py
  fdroidserver/signindex.py
  fdroidserver/stats.py
  fdroidserver/update.py
  fdroidserver/verify.py
  tests/androguard_test.py
  tests/common.TestCase
  tests/import.TestCase
  tests/update.TestCase
  tests/vcs.TestCase
Due: fdroid build, plugin_fetchsrclibs

try to fix failed pipeline 287825350
  examples/fdroid_exportkeystore.py
  examples/fdroid_nitrokeyimport.py
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/index.py
  tests/build.TestCase
Due: fdroid build

try to fix failed pipeline 288018778
  fdroidserver/common.py
  fdroidserver/index.py
  tests/common.TestCase
Due: fdroid build

try to fix failed pipeline 288033844
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

try to fix failed pipeline 288038430
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

try to fix failed pipeline 288062861
  fdroidserver/common.py
  tests/import.TestCase
Due: fdroid build

try to fix failed pipeline 288063723
  fdroidserver/common.py
  tests/import.TestCase
Due: fdroid build

clean needsUpdate
  fdroidserver/update.py
Due: none

try to fix failed pipeline 288066699
  fdroidserver/common.py
Due: fdroid build

2021-04-16
  examples/fdroid_export_keystore_to_nitrokey.py
  examples/fdroid_exportkeystore.py
  examples/fdroid_nitrokeyimport.py
  fdroidserver/__init__.py
  fdroidserver/build.py
  fdroidserver/gpgsign.py
  fdroidserver/index.py
  fdroidserver/install.py
  fdroidserver/publish.py
  fdroidserver/scanner.py
  fdroidserver/signindex.py
  tests/update.TestCase
Due: fdroid build

fix rebase conflicts in common.py
  examples/fdroid_export_keystore_to_nitrokey.py
  examples/fdroid_exportkeystore.py
  examples/fdroid_nitrokeyimport.py
  fdroidserver/__init__.py
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/gpgsign.py
  fdroidserver/index.py
  fdroidserver/install.py
  fdroidserver/publish.py
  fdroidserver/scanner.py
  fdroidserver/signindex.py
  tests/common.TestCase
  tests/import.TestCase
Due: fdroid build

fix rebase conflicts in common.py
  examples/fdroid_exportkeystore.py
  examples/fdroid_nitrokeyimport.py
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/index.py
Due: fdroid build

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
