Repository vecnathewhisperd0/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

Reduce size of index-vX.json files
  fdroidserver/index.py
  tests/repo/index-v1.json
Due: none

#1156 s3cmd can look credential in more flexible and secure way
  fdroidserver/deploy.py
Due: none

#1160 consider that user will create bucket manually
  fdroidserver/deploy.py
Due: none

add s3cmd wrapper
  fdroidserver/deploy.py
Due: none

#1151 some way to handle acl buckets
  fdroidserver/deploy.py
Due: none

metadata: Simplify metadata path list sorting
  fdroidserver/metadata.py
Due: fdroid build

metadata: Save context managers for opening files
  fdroidserver/metadata.py
  fdroidserver/rewritemeta.py
Due: fdroid build

Introduce common method 'get_argument_parser'
  fdroidserver/btlog.py
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/deploy.py
  fdroidserver/gpgsign.py
  fdroidserver/import_subcommand.py
  fdroidserver/init.py
  fdroidserver/install.py
  fdroidserver/lint.py
  fdroidserver/mirror.py
  fdroidserver/nightly.py
  fdroidserver/publish.py
  fdroidserver/readmeta.py
  fdroidserver/rewritemeta.py
  fdroidserver/scanner.py
  fdroidserver/signatures.py
  fdroidserver/signindex.py
  fdroidserver/update.py
  fdroidserver/verify.py
Due: fdroid build

Add script for generating fish completions
  completion/fish-completion.fish
  devscripts/completion/README.md
  devscripts/completion/fish-completion.py
  devscripts/completion/fish-completion_header.fish
Due: none

CI: Check fish completions are current and valid
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Update Bash completion
  completion/bash-completion
Due: none

fixup! Add script for generating fish completions
  completion/fish-completion.fish
Due: none

ci: add several autodevops jobs
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: remove duplicates
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: enable merge request pipelines
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

fix: fix existing icon detection for repo and archive
  fdroidserver/index.py
  fdroidserver/update.py
Due: none

only check for repo_icon existence
  fdroidserver/update.py
Due: none

refactor: refactor to its own function
  fdroidserver/index.py
Due: none

test: add test_copy_repo_icon()
  tests/index.TestCase
Due: none

check for the basename of the repo_icon value
  fdroidserver/update.py
Due: none

test: update and add test
  tests/index.TestCase
Due: none

ci: disable shellcheck checks absent in the version provided by debian
  .codeclimate.yml
Due: none

ci: disable code quality debug status
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: use a larger machine type for the code quality jobs
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: use upstream pylint as codeclimate-pylint is deprecated and doesn't support pyproject.toml
  .codeclimate.yml
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

fix shellcheck findings left in run-tests
  tests/run-tests
Due: none

ci: use codeclimate for linting tests
  .codeclimate.yml
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: enable code climate debug mode
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: disable linters we didn't use
  .codeclimate.yml
Due: none

ci: limit the linted files to what we are linting now
  .codeclimate.yml
Due: none

ci: fix `error: externally-managed-environment`
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: fix syntax error
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: move .bandit to .bandit.yaml
  .bandit
  .bandit.yaml
Due: none

ci: add html output for code quality linter
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: only raise major issues in shellcheck
  .codeclimate.yml
Due: none

ci: disable shellcheck checks that we currently don't use
  .codeclimate.yml
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

ci: exclude B322 as it doesn't apply to python3
  .bandit.yaml
Due: none
