Repository vecnathewhisperd0/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py

fix rebase conflicts in common.py 3
  fdroidserver/common.py
  fdroidserver/index.py
  tests/common.TestCase
Due: fdroid build

fix rebase conflicts in common.py 4
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

Revert "Merge branch 'fix/checkupdateCommit' into 'master'"
  fdroidserver/checkupdates.py
Due: none

Do not set invalid auto name
  fdroidserver/common.py
Due: fdroid build

gradle v7.0.2
  gradlew-fdroid
Due: gradlew-fdroid

Android NDK r22b (22.1.7171670)
  fdroidserver/common.py
Due: fdroid build

DO NOT MERGE test
  fdroidserver/common.py
Due: fdroid build

Android NDK r22b (None)
  fdroidserver/common.py
Due: fdroid build

Upload New File
  protonmail.yml
Due: none

[CI] add missing mypy modules
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Add failing test
  tests/common.TestCase
Due: none

Add test_vcs_git_latesttags test
  tests/common.TestCase
Due: none

Use git tag in latesttags
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

gradle v7.1
  gradlew-fdroid
Due: gradlew-fdroid

parse_androidmanifests: order by max_vercode
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

Fix version_code_string_to_int in Python < 3.6
  fdroidserver/common.py
Due: fdroid build

Rewrite manifest_paths
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/metadata.py
Due: fdroid build

[checkupdates] Use functions from common
  fdroidserver/checkupdates.py
Due: none

[checkupdates] check_tags: unify common code
  fdroidserver/checkupdates.py
Due: none

WIP "ndk: gradle"
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/MozAppServices/build-scripts/substitute-local-appservices.gradle
  tests/source-files/MozAppServices/build.gradle
  tests/source-files/MozAppServices/components/autofill/android/build.gradle
  tests/source-files/MozAppServices/components/crashtest/android/build.gradle
  tests/source-files/MozAppServices/components/fxa-client/android/build.gradle
  tests/source-files/MozAppServices/components/logins/android/build.gradle
  tests/source-files/MozAppServices/components/nimbus/android/build.gradle
  tests/source-files/MozAppServices/components/places/android/build.gradle
  tests/source-files/MozAppServices/components/push/android/build.gradle
  tests/source-files/MozAppServices/components/rc_log/android/build.gradle
  tests/source-files/MozAppServices/components/support/android/build.gradle
  tests/source-files/MozAppServices/components/sync15/android/build.gradle
  tests/source-files/MozAppServices/components/sync_manager/android/build.gradle
  tests/source-files/MozAppServices/components/tabs/android/build.gradle
  tests/source-files/MozAppServices/components/viaduct/android/build.gradle
  tests/source-files/MozAppServices/megazords/full/android/build.gradle
  tests/source-files/MozAppServices/publish.gradle
  tests/source-files/MozAppServices/settings.gradle
Due: fdroid build

WIP TODO nightly: fix gitlab URL paths
  fdroidserver/nightly.py
Due: none

fix icon extraction
  fdroidserver/extractor.py
  fdroidserver/update.py
Due: none

wrap glob.glob() in sorted()
  fdroidserver/btlog.py
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/init.py
  fdroidserver/stats.py
  fdroidserver/update.py
  tests/common.TestCase
  tests/scanner.TestCase
  tests/update.TestCase
Due: fdroid build

[update] add --skip-btlog option
  fdroidserver/update.py
Due: none

verify git tags/commits
  fdroidserver/common.py
Due: fdroid build

add new policy keys to tests/repo/index-v1.json
  tests/repo/index-v1.json
Due: none

add privacy policy links to index-v1
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/index.py
Due: fdroid build

add inclusion policy links to index-v1
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/index.py
Due: fdroid build

gradle v7.3.3
  gradlew-fdroid
Due: gradlew-fdroid

unify all provisioning in the Vagrantfile, remove from Dockerfile
  buildserver/Dockerfile
Due: none

gitlab-ci: run makebuildserver to create Docker image
  .gitlab-ci.yml
  setup.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

buildserver: support Docker as a provider
  .gitlab-ci.yml
  buildserver/Dockerfile
  buildserver/Vagrantfile
  examples/makebuildserver.config.py
  fdroidserver/vmtools.py
  makebuildserver
  tests/vmtools.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

makebuildserver: show info level log output for Vagrant
  makebuildserver
Due: none

gitlab-ci: use pip directly for much smaller installs
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

buildserver: use vagrant-communicator-docker in GitLab CI
  .gitlab-ci.yml
  buildserver/Vagrantfile
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

buildserver: include sdkmanager by default
  buildserver/provision-apt-get-install
Due: fdroid build

hooks/pre-commit: add yamllint for .gitlab-ci.yml
  .gitlab-ci.yml
  hooks/pre-commit
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs
