Repository vecnathewhisperd0/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py

gitlab-ci: enforce black code format for tests/checkupdates.TestCase
  .gitlab-ci.yml
  tests/checkupdates.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

REBASE checkupdates: remove appid branches that have been merged
  fdroidserver/checkupdates.py
Due: none

make checkupdates async
  fdroidserver/checkupdates.py
  setup.py
Due: none

limit max parallel
  fdroidserver/checkupdates.py
Due: none

fix test case
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

add test job
  .gitlab-ci.yml
  fdroidserver/checkupdates.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

buildserver: stop installing tools and platform-tools by default
  .gitlab-ci.yml
  buildserver/Dockerfile
  buildserver/Vagrantfile
  buildserver/provision-android-sdk
  buildserver/setup-env-vars
  tests/build.TestCase
  tests/run-tests
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Add tarball scanner
  examples/fdroid_scan_tarball.py
Due: none

Don't require versionName
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  fdroidserver/index.py
  fdroidserver/lint.py
  fdroidserver/scanner.py
Due: fdroid build

setup_ci: Refine CI detection logic
  buildserver/setup-ci
Due: none

setup-ci: Force .gradle link creation
  buildserver/setup-ci
Due: none

Push that docker image
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Add script to set up app CI environment
  buildserver/Dockerfile
  buildserver/setup-ci
Due: none

Nake setup-ci more CI-agnostic
  buildserver/setup-ci
Due: none

"Revert "Push that docker image"
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Revert "Push that docker image"
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Revert "Revert "Push that docker image""
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Add build.scanignoreBinary
  .gitlab-ci.yml
  fdroidserver/build.py
  fdroidserver/metadata.py
  fdroidserver/scanner.py
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/scanner.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

cleanup build_local
  fdroidserver/build.py
  fdroidserver/builder.py
Due: fdroid build

upgrade setuptools
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

purge test exceptions for Python < 3.9, that's the min version
  tests/scanner.TestCase
Due: none

skip tests that won't run on a given CPU architecture
  tests/build.TestCase
  tests/install.TestCase
  tests/publish.TestCase
  tests/scanner.TestCase
  tests/signatures.TestCase
  tests/update.TestCase
Due: none

update: follow symlinks when scanning for fastlane
  fdroidserver/update.py
Due: none

Add estuary.tech (IPFS) support
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/deploy.py
Due: fdroid build

Add publishing to IPFS option
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/deploy.py
Due: fdroid build

ipfs: Add File API reference
  fdroidserver/deploy.py
Due: none

Test ipfs in CI
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Make ipfs path configurable
  .gitlab-ci.yml
  examples/config.yml
  fdroidserver/deploy.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Use default icon for index if the file does not exist
  fdroidserver/common.py
Due: fdroid build

Make sure icon can't be misused to access other files
  fdroidserver/common.py
Due: fdroid build

Support auto-install of multiple NDKs
  fdroidserver/metadata.py
Due: fdroid build

lint: Validate metadata with JSON schema
  .gitlab-ci.yml
  MANIFEST.in
  fdroidserver/lint.py
  fdroidserver/metadata.py
  fdroidserver/schemas/__init__.py
  fdroidserver/schemas/metadata.json
  setup.py
  tests/schemas.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs

Fix index.TestCase:test_package_metadata
  tests/metadata/info.guardianproject.urzip.yml
  tests/metadata/obb.main.oldversion.yml
  tests/metadata/org.videolan.vlc.yml
Due: none

Remove tests around deprecated 'Provides' metadata field
  tests/metadata.TestCase
Due: none

fixup! lint: Validate metadata with JSON schema
  tests/schemas.TestCase
Due: none
