Repository vecnathewhisperd0/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

Split out provision-apt-get-clean
  buildserver/Vagrantfile
  buildserver/provision-apt-get-clean
  buildserver/provision-apt-get-install
Due: docker

Use variable rather than hardcode debian codename
  buildserver/provision-apt-get-install
Due: docker

Don't re-try install
  buildserver/provision-apt-get-install
Due: docker

Fix indentation
  buildserver/provision-apt-get-install
Due: docker

Install temurin-*-jdk packages
  buildserver/Vagrantfile
  buildserver/provision-apt-get-install
  buildserver/provision-apt-get-openjdk
Due: docker

Add build.javapackage
  fdroidserver/build.py
  fdroidserver/metadata.py
Due: fdroid build

👆 add repo fingerprint to index v2
  fdroidserver/index.py
  tests/index.TestCase
  tests/repo/entry.json
  tests/repo/index-v2.json
Due: none

Refactor TestCase files into python modules
  .gitlab-ci.yml
  MANIFEST.in
  README.md
  fdroidserver/signatures.py
  fdroidserver/update.py
  hooks/pre-commit
  pyproject.toml
  tests/__init__.py
  tests/init.TestCase
  tests/install.TestCase
  tests/run-tests
  tests/test_api.py
  tests/test_build.py
  tests/test_checkupdates.py
  tests/test_common.py
  tests/test_deploy.py
  tests/test_exception.py
  tests/test_github.py
  tests/test_gpgsign.py
  tests/test_import_subcommand.py
  tests/test_index.py
  tests/test_init.py
  tests/test_install.py
  tests/test_lint.py
  tests/test_main.py
  tests/test_metadata.py
  tests/test_net.py
  tests/test_nightly.py
  tests/test_publish.py
  tests/test_rewritemeta.py
  tests/test_scanner.py
  tests/test_signatures.py
  tests/test_signindex.py
  tests/test_update.py
  tests/test_vcs.py
  tests/test_verify.py
  tests/testcommon.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Revert "scanner: ignore well known image types that are set executable"
  fdroidserver/scanner.py
Due: fdroid build

WIP: Revert test change
  tests/scanner.TestCase
Due: none

Apply 1 suggestion(s) to 1 file(s)
  fdroidserver/scanner.py
Due: fdroid build

install: Y/n prompt, --yes, --no controls downloading F-Droid.apk
  completion/bash-completion
  fdroidserver/install.py
Due: none

install: use Maven Central as additional source
  fdroidserver/install.py
  tests/install.TestCase
Due: none

tests/run-tests: stop skipping install.TestCase
  tests/run-tests
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
